<link rel='stylesheet' href='/stylesheets/admin/index.css'/>
<div class="container">
    <div class="well" style="background: white">
        <div class="page-header">
            <h1>BIM Lab admin panel
                <small>Digital Signage</small>
            </h1>
        </div>
        <ul class="nav nav-pills nav-justified" style="width: 100%;">
            <li role="presentation" class="active"><a href="#articles" data-toggle="tab"
                                                      aria-expanded="false">Articles</a></li>
            <li role="presentation"><a href="#users" data-toggle="tab" aria-expanded="false">Users</a></li>
        </ul>
        <br/>
        <div class="tab-content">
            <div class="tab-pane active" id="articles">
                <button type="button" class="btn btn-primary btn-xs pull-right" data-toggle="modal"
                        data-target="#createNewArticle">
                    Create new article
                </button>
                <h3>Selected Article</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Header</th>
                            <th class="text-right">Functions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#if selectedArticle}}
                            <tr id="selectedRow" data-id="{{selectedArticle._id}}">
                                <td>{{selectedArticle.header}}</td>
                                <td class="text-right">
                                    <button class='btn btn-success btn-xs showEmail' data-toggle='collapse'
                                            data-target='#selected{{selectedArticle._id}}'><i
                                            class='fa fa-expand'></i> Expand
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td colspan='2'>
                                    <div class="collapse" id='selected{{selectedArticle._id}}'>
                                        {{selectedArticle.body}}
                                    </div>
                                </td>
                            </tr>
                        {{else}}
                            <tr id="selectedRow">
                                <td>No article selected</td>
                                <td class="text-right"></td>
                            </tr>
                        {{/if}}
                    </tbody>
                </table>
                <h3>Articles</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Header</th>
                            <th class="text-right">Functions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each articles}}
                            <tr data-id="{{_id}}">
                                <td>{{header}}</td>
                                <td class="text-right">
                                    <button class='btn btn-success btn-xs showEmail' data-toggle='collapse'
                                            data-target='#article{{_id}}'><i
                                            class='fa fa-expand'></i> Expand
                                    </button>
                                </td>
                            </tr>
                            <tr class='collapse' id='article{{_id}}'>
                                <td colspan='2'>
                                    <div>
                                        {{body}}
                                    </div>
                                </td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            <div class="tab-pane" id="users">
                <button type="button" class="btn btn-primary btn-xs pull-right" data-toggle="modal"
                        data-target="#createNewUser">
                    Create new user
                </button>
                This is users
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="createNewArticle" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Create new article</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="newHeader">Header</label>
                    <input type="text" class="form-control" id="newHeader" placeholder="Header">
                </div>
                <div class="form-group">
                    <label for="ckeditor">Body</label>
                    <textarea name="ckeditor" id="ckeditor" cols="80" rows="10"></textarea>
                </div>
                <div class="form-group">
                    <label for="newImage">Image</label>
                    <input type="file" id="newImage">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="createNewUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Create new user</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="newEmail">Email address</label>
                    <input type="email" class="form-control" id="newEmail" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="newPassword">Password</label>
                    <input type="password" class="form-control" id="newPassword" placeholder="Password">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Create</button>
            </div>
        </div>
    </div>
</div>

<script src="/javascripts/admin/index.js"></script>